@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');

@media (max-width: 768px) {
    body {
        background-image: url("./imgs/fundo.jpg");
        background-position: 60% 4%;
        background-size: 400%;
        display: flex;
        flex-direction: column;
        align-items: center; /* centraliza verticalmente os elementos */
        justify-content: center; /* centraliza horizontalmente os elementos */
        margin: 0;
        padding: 0;
        font-family: 'Genos', serif;
        font-weight: bold;
        display: flex;
        color: aliceblue;
        user-select: none;
    }
    
    header {
        background-color: rgba(60,125,60,0.8);
        position: fixed;
        right: 0;
        width: 100%;
        height: 6%;
        display: flex;
        justify-content: space-evenly;
    }
    
    footer {
        background-color: rgba(60,125,60,0.8);
        position: fixed;
        right: 0;
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
    }

    .devmir {
        background-color: rgba(250,250,250,0.8);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        left: 0;
        top: 6%;
        position: fixed;
        height: 20%;
        width: 100%; 
        flex-direction: column;
    }

    #logo {
        width: 60%;
        border: 50%;
    }
    
    #about {
        background-color: rgba(60,125,60,0.8);
        width: 40%;
        height: 20%;
        border-radius: 40px;
        justify-content: center;
        border: 0;
        position: relative;
        font-family: 'Genos', serif;
        font-weight: bold;
        color: aliceblue;
        font-size: 150%;
    }
    
    #content {
        background-color: rgba(60,125,60,0.8);
        position: fixed;
        top: 26%;
        right: 0;
        width: 100%;
        height: 66%;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
    }

    #complete_name {
        align-self: center;
        display: flex;
        flex-wrap: nowrap;
        font-size:x-large;
    }
    
    #icon {
        width: 40%;
        border-radius: 15px;
    }
    
    #skills {
        right: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        font-size: small;
    }
    
    #skills_title {
        position: relative;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;   
    }

    .mediaButton {
        background: none;
        border: none;
        border-radius: 50%;
        width: 12%;
        height: fit-content;
        cursor: pointer;
    }
}

@media (min-width: 769px) {

body {
    background-image: url("./imgs/fundo.jpg");
    background-size:cover;
    margin: 0;
    padding: 0;
    font-family: 'Genos', serif;
    font-weight: bold;
    display: flex;
    color: aliceblue;
    user-select: none;
}

#logo {
    margin-bottom: 20%;
    width: 80%;
}

header {
    background-color: rgba(60,125,60,0.9);
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

footer {
    background-color: rgba(60,125,60,0.9);
    position: fixed;
    right: 0;
    width: 60%;
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
}
.devmir {
    background-color: rgba(250,250,250,0.7);
    display: flex;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 40%; 
    flex-direction: column;
    justify-content: center;
}

#about {
    background-color: rgba(60,125,60,0.8);
    width: 40%;
    align-self: center;
    height: 5%;
    border-radius: 50px;
    border: 0;
    font-family: 'Genos', serif;
    font-weight: bold;
    color: aliceblue;
    font-size: 150%;
    margin-bottom: 10%;
}

#content {
    background-color: rgba(60,125,60,0.9);
    position: fixed;
    top: 8%;
    right: 0;
    width: 60%;
    height: 82%;
    padding-top: 2%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

#icon {
    width: 25%;
    border-radius: 15px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    object-fit: cover;
}

#skills {
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

#skills_title {
    position: relative;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.mediaButton {
    background: none;
    border: none;
    border-radius: 50%;
    width: 6%;
    height: fit-content;
    cursor: pointer;
}

}

.link {
    height: 100%;
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    display: flex;
    align-items: center;
}

#skills_select {
    width:80%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h2.off {
    opacity: 50%;
}
li.java { list-style: none;}

#skillButton {
    width: 48%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: inherit;
    font-size:x-large;
    font-weight: 900;
    color: inherit;
    transition: all 0.3s;
    position: relative;
    background-color: rgba(250,250,250,0.2);
    border: none;
  }

  #skillButton span {
    transition: all 0.3s;
  }

  #skillButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.9);
    border-bottom-color: rgba(255,255,255,0.9);
    transform: scale(0.1, 1);
  }

  #skillButton:hover span {
    letter-spacing: 2px;
  }
  #skillButton:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }

  #skillButton::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
